::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

::marker {
}

ol>li::marker {
    font-weight: bold;
    color: var(--list-ol-number-color);
    white-space: pre;
}

.markdown-embed, .popover.hover-popover .markdown-embed .markdown-embed {
    background-color: var(--embed-color);
    border: 1px solid var(--embed-color);
    border-radius: var(--radius-xs);

}